 



h1 {
    margin:0px;
     color:#ff1493;
     font-weight: 900;
     font-size: 40px;
     text-align:center
}
.sc th {
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;

}